[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pelican = "*"
ghp-import = "*"
markdown = "*"
typogrify = "*"
matplotlib = "*"
scipy = "*"
imageio = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"
